@use "../../../../styles.scss";

nav {
  background-color: var(--background-primary);
  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 10;

}

.scrolled {
  background-color: var(--second-color);
  .logo path {
    fill: white;
  }
  .ul-links li a {
    color: white;
  }

  .button-agendar {
    color: var(--second-color);
    border-radius: 50px;
    background-color: white;
  }

  .button-agendar li a {
    font-size: 14px;
    font-weight: 700;
  }

  .button-agendar:hover {
    color: var(--background-primary);
    background-color: var(--second-color);
  }

  .menu-mobile img {
    padding: 11px 9px;
    display: flex;
    align-items: center;
  }
}

.button-agendar {
  border: var(--first-color) 1px solid;
  color: var(--first-color);
  border-radius: 50px;
}

.button-agendar:hover {
  background-color: var(--first-color);
  color: var(--background-primary);
}

nav button {
  border: none;
  cursor: pointer;
}

.ul-links {
  margin: 10px;
}

.ul-links li a {
  color: var(--first-color);
}

.ul-links li a:hover {
  color: var(--second-color);
  border-bottom: var(--second-color) 1px solid;
  padding-bottom: 26px;
}


