@use "../../../../styles.scss";

nav.scroll {
  background-color: var(--background-third);
}

@media (min-width: 375px) {
  .sm\:pl-32 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

nav {
  display: flex;

  // height: 100vh;

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

// nav.scroll svg:nth-child(1) path {
//   fill: white;
// }

// nav.scroll button path {
//   stroke: white;
// }

// header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 1000;
// }

.button-agendar {
  border: var(--first-color) 1px solid;
  color: var(--first-color);
  border-radius: 50px;
}


.button-agendar:hover {
  background-color: var(--first-color);
  color: var(--background-primary);
}

#nav.active .menu {
  visibility: visible;
  overflow-x: visible;
  height: 100vh;
}

nav button {
  border: none;
  background: var(--background-primary);
  cursor: pointer;
}

#nav .open {
  background: none;
}

#nav.active .open {
  display: none;
}

#nav .close {
  display: none;
}

#nav.active .close {
  display: block;
  background: var(--first-color);
}

.ul-links {
  margin: 10px;
}

.ul-links li a {
  color: var(--first-color);
}

.ul-links li a:hover {
  color: var(--second-color);
  border-bottom: var(--second-color) 1px solid;
  padding-bottom: 26px;
}
