<nav
  [class.scrolled]="scrolled"
  class="flex items-center sm:text-sm justify-between sm:h-24 xl:pl-32 xl:pr-32 md:pb-8 md:pt-8 md:pl-10 md:pr-10 pl-7 pr-7"
  id="nav"
>
  <div class="md:w-[15%] sm:w-[30%]">
    <a href="#">
      <img src="{{logo}}" alt="Logotipo da DoctorCare" />
    </a>
  </div>

  <div class="sm:block hidden lg:text-lg">
    <ul class="ul-links flex md:gap-8 sm:gap-6">
      <li><a href="#home">Início</a></li>
      <li><a href="#services">Serviços</a></li>
      <li><a href="#about">Quem Somos</a></li>
    </ul>
  </div>
  <div
    class="button-agendar sm:block hidden lg:pt-3 lg:pb-3 lg:pl-6 lg:pr-6 sm:px-1 sm:py-1"
  >
    <ul>
      <li>
        <a href="#contact">AGENDAR CONSULTA</a>
      </li>
    </ul>
  </div>

  <div class="menu-mobile sm:hidden block mt-2">
    <button (click)="toggleSideNav()" class="open">
      <img src="{{menu}}" alt="Ícone do menu" />
    </button>
  </div>
</nav>
