:host {

  .div-left {
    span {
      font-weight: 700;
      font-size: 14px;
      color: var(--second-color);
    }

    h1 {
      font-size: 40px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
    }
  }
}
