<section
  id="about"
  class="flex xl:flex-row flex-col-reverse items-center justify-center lg:pl-32 lg:pr-32 lg:gap-36 gap-14 lg:mb-40 mt-4 mb-10 pl-7 pr-6 pt-24"
>
  <div>
    <img
      class="lg:pt-24 md:w-[600px]"
      src="/assets/images/images/happy-doctor-holding-a-clipboard-with-patients.png"
      alt=""
    />
  </div>

  <div class="div-left xl:w-[33%] md:w-[80%]">
    <span>SOBRE NÓS</span>
    <h1 class="pb-6">Entenda quem somos e por que existimos</h1>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim. Amet minim mollit non deserunt ullamco
      est sit aliqua dolor do amet sint. Velit officia consequat duis enim. Amet
      minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
      officia consequat duis enim. Amet minim mollit non deserunt ullamco est
      sit aliqua dolor do amet sint. Velit officia consequat duis enim. Amet
      minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    </p>
  </div>
</section>
