<section id="services" class="xl:pl-32 xl:pr-32 pt-20 md:pl-10 md:pr-10 pl-7 pr-7">
  <div class="div-top-mobile div-top-desktop">
    <span>SERVIÇOS</span>
    <h1>Como podemos ajudá-lo a se sentir melhor?</h1>
  </div>

  <div class="div-botton-mobile div-botton-desktop lg:pb-40">
    <div>
      <mat-card>
        <img src="../../assets/check_icon.png" alt="" />
        <h2>Problemas digestivos</h2>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim.
        </p>
      </mat-card>
      <br />
      <mat-card>
        <img src="../../assets/check_icon.png" alt="" />
        <h2>Saúde Hormonal</h2>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim.
        </p>
      </mat-card>
      <br />

      <mat-card>
        <img src="../../assets/check_icon.png" alt="" />
        <h2>Bem-estar mental</h2>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim.
        </p>
      </mat-card>
    </div>
    <br />

    <div>
      <mat-card>
        <img src="../../assets/check_icon.png" alt="" />
        <h2>Cuidados Pediátricos</h2>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim.
        </p>
      </mat-card>
      <br />

      <mat-card>
        <img src="../../assets/check_icon.png" alt="" />
        <h2>Autoimune e Inflamação</h2>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim.
        </p>
      </mat-card>
      <br />

      <mat-card>
        <img src="../../assets/check_icon.png" alt="" />
        <h2>Saúde do Coração</h2>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim.
        </p>
      </mat-card>
    </div>
  </div>
  <br />
</section>
