<section
  id="contact"
  class="flex xl:flex-row flex-col items-center justify-center xl:pl-32 xl:pr-32 pt-8 pb-[160px] md:pl-10 md:pr-10 pl-7 pr-7"
>
  <div class="left-side flex xl:w-[404px] xl:h-[304px] xl:mr-[141px]">
    <div class="flex-col">
      <h1 class="text-3xl mb-10">Entre em contato com a gente!</h1>
      <p class="flex gap-2 mb-4">
        <img src="assets/place.svg" alt="" />
        R. Amauri Souza, 346
      </p>

      <p class="flex gap-2 mb-10">
        <img src="assets/mail.svg" alt="" />
        contato@doctorcare.com
      </p>

      <div class="button-agendar w-[270px] py-3 px-6 mb-14">
        <ul>
          <li>
            <a href="#contact" class="flex-row">
              <img
                class="mr-4"
                src="assets/whatsapp.svg"
                alt="Logotipo whatsapp"
              />
              AGENDE SUA CONSULTA</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class=" ">
      <img src="assets/men-smiling-holding-a-smartphone.png" alt="" />
    </div>
  </div>
</section>
