<div
  class="container flex md:flex-row flex-col justify-between xl:pl-32 xl:pr-32 md:pb-8 md:pt-8 md:pl-10 md:pr-10 pl-7"
>
  <div class="flex-col text-white xs:text-sm">
    <a href="#">
      <img
        class="pb-6 pt-20"
        src="../../../../assets/images/logo/logo.svg"
        alt=""
      />
    </a>

    <p class="flex pb-4">©2022 - DoctorCare.</p>
    <p>Todos os direitos reservados.</p>
  </div>

  <div class="flex items-center sm:pt-32 pt-8 sm:pb-32 pb-14 gap-8">
    <img src="/assets/images/logo/instagram.svg" alt="" />
    <img src="/assets/images/logo/facebook.svg" alt="" />
    <img src="/assets/images/logo/youtube.svg" alt="" />
  </div>
</div>
