<section
  id="home"
  class="container xl:pl-32 xl:pr-32 md:pt-8 md:pl-10 md:pr-10 pl-7 pr-7"
>
  <div class="lg:flex pt-24">
    <div class="div-left-desktop div-left-mobile flex-row xl:w-[605px]">
      <span>BOAS-VINDAS A DOCTORCARE 👋</span>
      <h1>Assistência médica simplificada para todos</h1>
      <p>
        Os médicos da DoctorCare vão além dos sintomas para tratar a causa raiz
        de sua doença e proporcionar uma cura a longo prazo.
      </p>

      <div
        class="button-agendar sm:block hidden w-[270px] lg:pt-3 lg:pb-3 lg:pl-6 lg:pr-6 md:pl-2 md:pr-2"
      >
        <ul>
          <li>
            <a href="#contact" class="flex-row">
              <img
                class="mr-4"
                src="../../assets/images/logo/whatsapp.svg"
                alt="Logotipo whatsapp"
              />
              AGENDE SUA CONSULTA</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="div-right flex xl:ml-[372px]">
      <img
        src="../../assets/images/images/woman-smiling-blouse-green.png"
        alt="mulher negra sorrindo e vestindo blusao verde"
      />
    </div>
  </div>

  <div
    class="div-botton-mobile lg:flex items-center justify-around lg:w-[98%] lg:h-[210px] pt-10 pb-10 bg-[#FFFAF1]"
  >
    <div class="border-right lg:pr-44">
      <h3>+3.500</h3>
      <p>Pacientes atendidos</p>
    </div>

    <div class="border-right lg:pr-44">
      <h3>+15</h3>
      <p>Especialistas disponíveis</p>
    </div>

    <div>
      <h3>+10</h3>
      <p>Anos no mercado</p>
    </div>
  </div>
</section>
