.ul-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ul-links li a {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.button-agendar {
  color: var(--second-color);
  border-radius: 50px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-agendar li a {
  font-size: 18px;
  font-weight: 700;
}

.button-agendar:hover {
  color: var(--background-primary);
  background-color: var(--second-color);
}

.no-scroll {
  overflow: hidden;
}

mat-sidenav{
  overflow-y: auto;
}
